/*
 * This file is part of gentoo-mini-mirror.

 * gentoo-mini-mirror is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * gentoo-mini-mirror is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with gentoo-mini-mirror.  If not, see <https://www.gnu.org/licenses/>.
 */


body {
    background-color: rgba(41, 43, 46, 1);
    color: rgba(178, 178, 178, 1);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}
a:link {
    color: rgba(42, 161, 152, 1);
}
a:visited {
    color: rgba(133, 153, 0, 1);
}

td {
    border: 1px solid rgba(178, 178, 178, 1);
    padding: 5px 15px 5px 15px;
}
